<h1><%= title %></h1>
<div class="d-flex flex-column">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mt-4 mb-3">Games</h2>
    <div class="d-flex gap-2">
      <% if(locals.games && games.length > 0) { %>
        <% if(locals.filters) { %>
          <button class="btn btn-primary d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <img src="/icons/sliders-horizontal.svg" alt="" class="filter-white me-2" />Filter
          </button>
        <% } %>
        <a href="/games/createGame" class="btn btn-primary d-flex"><img src="/icons/plus.svg" alt="" class="filter-white me-1" />Add Game</a>
      <% } %>
    </div>
  </div>
  <%- include("./partials/filters.ejs") %>
</div>

<% if(locals.games && games.length > 0) { %>
  <div class="table-responsive mt-2 rounded-4">
    <table class="table align-middle mb-0">
      <thead class="text-nowrap">
        <tr>
          <th class="text-nowrap" style="width: 1%">ID</th>
          <th>Game</th>
          <th>Year</th>
          <th>Developer</th>
          <th>Genres</th>
          <th>Modes</th>
          <th>Platforms</th>
          <th class="text-nowrap" style="width: 1%"></th>
          <th class="text-nowrap" style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        <% games.forEach((game) => { %>
          <tr>
            <td><%= game.game_id %></td>
            <td class="text-nowrap"><a href="/games/<%= game.game_id %>"><%= game.game_name %></a></td>
            <td><%= game.release_year %></td>
            <td class="text-nowrap"><%= game.developer_name %></td>
            <td>
              <% if(game.genres) { %>
                <ul class="list-unstyled mb-0 d-flex flex-column gap-2">
                  <% game.genres.forEach((genre) => { %>
                    <li class="bg-success-subtle px-3 py-1 rounded-pill"><%= genre.name %></li>
                  <% }); %>
                </ul>
              <% }; %>
            </td>
            <td>
                <% if(game.modes) { %>
                  <ul class="list-unstyled mb-0 d-flex flex-column gap-2">
                    <% game.modes.forEach((mode) => { %>
                      <li class="bg-primary-subtle px-3 py-1 rounded-pill"><%= mode.name %></li>
                    <% }); %>
                  </ul>
                <% }; %>
            </td>
            <td>
              <% if(game.platforms) { %>
                <ul class="list-unstyled mb-0 d-flex flex-column gap-2">
                  <% game.platforms.forEach((platform) => { %>
                    <li class="bg-warning-subtle px-3 py-1 rounded-pill"><%= platform.name %></li>
                  <% }); %>
                </ul>
              <% }; %>
            </td>
            <td>
              <a href="/games/edit/<%= game.game_id %>" class="btn btn-primary d-flex"><img src="/icons/pencil.svg" alt="" class="filter-white me-2" style="width: 20px; height: auto;" />Edit</a>
            </td>
            <td>
              <form action="/games/delete/<%= game.game_id %>" method="post">
                <button type="submit" class="btn btn-danger d-flex" onclick="return confirm(`Are you sure you want to delete (ID: <%= game.game_id %>) <%= game.game_name %>?`)"><img src="/icons/trash.svg" alt="" class="filter-white me-2" style="width: 20px; height: auto;" />Delete</button>
              </form>
            </td>
            </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } else { %>
  <a href="/games/createGame" class="btn btn-primary btn-lg d-flex align-items-center" style="width: fit-content;"><img src="/icons/plus.svg" alt="" class="filter-white me-1" />Add Game</a>
<% } %>