<div class="mb-4 d-flex justify-content-between align-items-center">
  <h1><%= title %></h1>
  <% if(locals.genres && genres.length > 0) { %>
    <a href="/genres/create" class="btn btn-primary d-flex"><img src="/icons/plus.svg" alt="" class="filter-white me-1" />Add Genre</a>
  <% } %>
</div>

<% if(locals.genres && genres.length > 0) { %>
  <div class="table-responsive rounded-4">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th class="text-nowrap" style="width: 1%">ID</th>
          <th>Name</th>
          <th class="text-nowrap text-center" style="width: 20%">No. of games</th>
          <th class="text-nowrap" style="width: 1%"></th>
          <th class="text-nowrap" style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        <% genres.forEach((genre) => { %>
          <tr>
            <td><%= genre.id %></td>
            <% if(genre.number_of_games > 0) { %>
              <td class="text-nowrap"><a href="/genres/<%= genre.id %>"><%= genre.name %></a></td>
            <% } else { %>
              <td><%= genre.name %></td>
            <% } %>
    
            <td class="text-center"><%= genre.number_of_games %></td>
            <td><a href="/genres/edit/<%= genre.id %>" class="btn btn-primary d-flex"><img src="/icons/pencil.svg" alt="" class="filter-white me-2" style="width: 20px; height: auto;" />Edit</a></td>
            <td>
              <form action="/genres/delete/<%= genre.id %>" method="post">
                <button type="submit" class="btn btn-danger d-flex" onclick="return confirm(`Are you sure you want to delete genre (ID: <%= genre.id %>) <%= genre.name %>?`)"><img src="/icons/trash.svg" alt="" class="filter-white me-2" style="width: 20px; height: auto;" />Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } else { %>
  <a href="/genres/create" class="btn btn-primary btn-lg d-flex align-items-center" style="width: fit-content;"><img src="/icons/plus.svg" alt="" class="filter-white me-1" />Add Genre</a>
<% } %>