<div class="mb-4 d-flex justify-content-between align-items-center">
  <h1><%= title %></h1>
  <% if(locals.modes && modes.length > 0) { %>
    <a href="/modes/create" class="btn btn-primary d-flex"><img src="/icons/plus.svg" alt="" class="filter-white me-1" />Add Mode</a>
  <% } %>
  </div>

<% if(locals.modes && modes.length > 0) { %>
  <div class="table-responsive rounded-4">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th class="text-nowrap" style="width: 1%">ID</th>
          <th>Name</th>
          <th class="text-nowrap text-center" style="width: 20%">No. of games</th>
          <th class="text-nowrap" style="width: 1%"></th>
          <th class="text-nowrap" style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        <% modes.forEach((mode) => { %>
          <tr>
            <td><%= mode.id %></td>
            <% if(mode.number_of_games > 0) { %>
              <td class="text-nowrap"><a href="/modes/<%= mode.id %>"><%= mode.name %></a></td>
            <% } else { %>
              <td><%= mode.name %></td>
            <% } %>
            <td class="text-center"><%= mode.number_of_games %></td>
            <td>
              <a href="/modes/edit/<%= mode.id %>" class="btn btn-primary d-flex"><img src="/icons/pencil.svg" alt="" class="filter-white me-2" style="width: 20px; height: auto;" />Edit</a>
            </td>
            <td>
              <form action="/modes/delete/<%= mode.id %>" method="post">
                <button type="submit" class="btn btn-danger d-flex" onclick="return confirm(`Are you sure you want to delete mode (ID: <%= mode.id %>) <%= mode.name %>?`)"><img src="/icons/trash.svg" alt="" class="filter-white me-2" style="width: 20px; height: auto;" />Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } else { %>
  <a href="/modes/create" class="btn btn-primary btn-lg d-flex align-items-center" style="width: fit-content;"><img src="/icons/plus.svg" alt="" class="filter-white me-1" />Add Mode</a>
<% } %>  