<div class="mb-4" style="display: flex; justify-content: space-between; align-items: center;">
  <h1><%= title %></h1>
  <a href="/platforms/create" class="btn btn-primary d-flex"><i data-lucide="plus" class="me-1"></i>Add Platform</a>
</div>

<% if(locals.platforms) { %>
  <div class="table-responsive rounded-4">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th class="text-nowrap" style="width: 1%">ID</th>
          <th>Name</th>
          <th class="text-nowrap text-center" style="width: 20%">No. of games</th>
          <th class="text-nowrap" style="width: 1%"></th>
          <th class="text-nowrap" style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        <% platforms.forEach((platform) => { %>
          <tr>
            <td><%= platform.id %></td>
            <% if(platform.number_of_games > 0) { %>
              <td class="text-nowrap"><a href="/platforms/<%= platform.id %>"><%= platform.name %></a></td>
            <% } else { %>
              <td><%= platform.name %></td>
            <% } %>
            <td class="text-center"><%= platform.number_of_games %></td>
            <td>
              <a href="/platforms/edit/<%= platform.id %>" class="btn btn-primary d-flex"><i data-lucide="pencil" width="16" class="me-2"></i>Edit</a>
            </td>
            <td>
              <form action="/platforms/delete/<%= platform.id %>" method="post">
                <button type="submit" class="btn btn-danger d-flex" onclick="return confirm(`Are you sure you want to delete platform (ID: <%= platform.id %>) <%= platform.name %>?`)"><i data-lucide="trash" width="16" class="me-2"></i>Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } %>  