<div class="container-xxl">
  <h1><%= title %></h1>
  <%- include("./partials/errors.ejs") %>
  <form action="/genres/edit/<%= genre.id %>" method="post" class="bg-white p-4 mt-4">
    <input type="hidden" name="genreId" value="<%= genre.id %>" />
    <div class="mb-5">
      <label for="genreName" class="form-label fs-5" aria-describedby="genreNameHelpBlock">Name</label>
      <input type="text" id="genreName" class="form-control" name="genreName" value="<%= genre.name %>" autocomplete="off" />
      <div id="genreNameHelpBlock" class="form-text mt-2">Name must only contain letters, numbers, '/&-</div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>
