<div class="container-xxl">
  <h1><%= title %></h1>
  <%- include("./partials/errors.ejs") %>
  <form action="/platforms/edit/<%= platform.id %>" method="post" class="bg-white p-4 mt-4 rounded-4">
    <input type="hidden" name="platformId" value="<%= platform.id %>" />
    <div class="mb-5">
      <label for="platformName" class="form-label fs-5" aria-describedby="platformNameHelpBlock">Name</label>
      <input type="text" id="platformName" class="form-control" name="platformName" value="<%= platform.name %>" autocomplete="off" />
      <div id="platformNameHelpBlock" class="form-text mt-2">Name must only contain letters and numbers</div>
    </div>
    <div class="d-flex justify-content-end"><button type="submit" class="btn btn-primary btn-lg">Submit</button></div>
  </form>
</div>
